#particle-div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* background: #54585a; */
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #d6dbd4;
  position: fixed;
  z-index: -1;
}
/* ============================================================================== */

* {
  font-family: "Roboto Mono", monospace;
}

svg {
  width: 42px;
  height: 42px;
  padding: 2px;
}

.react {
  fill: #61dafb;
}
.heroku {
  fill: #9e7cc1;
}
.python {
  width: 42px;
  height: 42px;
}

.circle {
  border-radius: 50%;
  height: 360px;
  width: 360px;
}

.octagon {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  position: relative;
}
.octagon:before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid rgba(0, 0, 0, 0.1);
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
}
.octagon:after {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid rgba(0, 0, 0, 0.1);
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
}
