#particle-div {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  /* background: #54585a; */
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #d6dbd4;
  position: fixed;
  z-index: -1;
}
/* ============================================================================== */

.navBarAlign {
  display: flex;
  flex-direction: row-reverse !important;
}
